$white-light: #f3f3f3;
$white-regular: #f0f0f0;
$white-dark: #e2e2e2;

$indigo-light: #6900b4;
$indigo-regular: #4b0082;
$indigo-dark: #35005a;

$black-light: #333;
$black-regular: #1f1f1f;
$black-medium: #030303;
$black-dark: #000;

$grey-1: #777;

.grey-1 {
    color: $grey-1;
}